/* ... existing styles ... */

.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 10px;
  transition: margin-left 0.5s; /* Smooth transition for the margin */
}

/* Adjust main content margin for larger screens where the navbar is always visible */
@media only screen and (min-width: 768px) {
  .main-content {
    margin-left: 18%; /* Adjust this value based on your sidebar width */
  }
}

/* Styles for smaller screens */
@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    padding-bottom: 25px;
    margin-left: 0; /* No margin for smaller screens */
  }
}

/* ... other existing styles ... */
